{% extends 'layout.html' %}

{% block head %}
    <title>Ошибка</title>
{% endblock %}

{% block side %}
    <h2>Ошибка</h2>
    <p>Оши́бка — непреднамеренное, случайное отклонение от правильных действий, поступков, мыслей, разница между ожидаемой или измеренной и реальной величиной. Джордж А. Миллер в своей работе в 1960 году определил ошибки как все отклонения фактического состояния некоторого объекта от целевого состояния.</p>
{% endblock %}

{% block main %}
    <h2>Ошибка в запросе</h2>
    <h5>Такое могло случится из-за не верного запроса или проблем с серверной частью</h5>
    <h5>Попробуй сделать запрос вновь</h5>
{% endblock %}